#parentDiv {
  display: static;

  width: 1280px;
  height: auto;
  margin: auto;
}

/* -------------------------------- */
/* Title */

#titleDiv {
  text-align: center;
}
#titleDiv h1 {
  padding: 0px;
  margin: 4px;
}

/* -------------------------------- */
/* Grid */

#gridDiv {
  text-align: center;
  padding: 4px;
}

/* -------------------------------- */
/* Inputs */

#inputsDiv {
  text-align: center;
  margin:  auto;
}

#inputsInnerDiv {
  display: inline-flex;
  margin:  3px;
  padding: 2px;
}

/* Buttons & Select */

button, select, select:focus {
  background-color: #EEEEEE;

  border-width: 1px;
  border-radius: 6px;
  border-color: #666666;

  cursor: pointer;
}

button:hover, select:hover {
  background-color: #DDDDDD;
}

*:focus {
  outline: none;
}

/* Text */

button, select, #speedText, #speedValue {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;}


.textBtn {
  width: 70px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.iconBtn {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

#sliderDiv {
  padding: 0px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;

  margin-right: 20px;
}
#sliderTextDiv {
  display: block;
  margin-top: 0px;
  padding: 0px;
}
#speedText {
  display: inline;
  margin-top: 0px;
  padding: 0px;
}
#speedvalue {
  display: inline;
  margin-top: 0px;
  padding: 0px;
}
#speedSlider {
  width: 160px;
  margin-top: 0px;
  padding: 0px;
  accent-color: #008800; 
}


#cursorButton {
  margin-left: 20px;
}


select {
  width: 148px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

select option {
  text-align: left;
}

select optgroup {
  text-align: left;
}

#rotateRightBtn {
  margin-right: 20px;
}

#plusBtn {
  margin-left: 20px;
}