#parentDiv {
  display: static;

  width: 1280px;
  height: auto;
  margin: auto;

  /* border: 3px solid #AA0000; */
}

/* -------------------------------- */
/* Title */

#titleDiv {
  text-align: center;
  /* border: 3px solid #73AD21; */
}
#titleDiv h1 {
  padding: 0px;
  margin: 4px;
}

/* -------------------------------- */
/* Grid */

#gridDiv {
  text-align: center;
  /* border: 1px solid lightgray; */
  /* border-radius: 10px; */
  padding: 4px;
}

/* -------------------------------- */
/* Inputs */

#inputsDiv {
  /* display: inline-block; */
  text-align: center;
  /* border: 1px solid lightgray; */
  /* border-radius: 10px; */
  /* padding-top: 2px; 
  padding-bottom: 2px; */
  /* width: 1276px; */
  margin:  auto;
}

#inputsInnerDiv {
  display: inline-flex;
  margin:  3px;
  /* border: 1px solid lightgray; */
  padding: 2px;
}

/* #controlsDiv {
  display: inline-flex;
  border: 1px solid #ff9100;
  margin-right: 20px;
}
#patternsDiv {
  display: inline-flex;
  border: 1px solid #00b7ff;
  margin-left: 20px;
} */




/* .inputsDivs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
} */

.textBtn {
  font-size: 16px;
  cursor: pointer;
  width: 70px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.iconBtn {
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

/* .sliders {
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
} */

#sliderDiv {
  padding: 0px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;

  margin-right: 20px;
}
#sliderTextDiv {
  display: block;
  margin-top: 0px;
  padding: 0px;
}
#speedText {
  display: inline;
  margin-top: 0px;
  padding: 0px;
}
#speedvalue {
  display: inline;
  margin-top: 0px;
  padding: 0px;
}
#speedSlider {
  width: 160px;
  /* height: 10px; */
  margin-top: 0px;
  padding: 0px;
}


#cursorButton {
  margin-left: 20px;
}


select {
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}


  /*
#cursorButton span {
  float: left;
  width: 2px;
  height: 2px;
} */

/* #rotateRightBtn {
  background: url(rotate-right.png) no-repeat;

}
#rotateRightBtn .span {
  float: left;
  width: 2px;
  height: 2px;
} */

/* #rotateLeftBtn {
  background: url(arrow_left_40x40.png) no-repeat;
}
#rotateLeftBtn .span {
  float: left;
  width: 2px;
  height: 2px;
} */

/* .img {
  padding: 0px;
  margin: 0px;
  height: 40px;
} */

#rotateRightBtn {
  margin-right: 20px;
}

#plusBtn {
  margin-left: 20px;
}

